<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;URL=http://localhost:8080/login">
    <title>注册成功提醒</title>
</head>
<body>
<h1 style="text-align: center;margin-top: 10em" >注册成功！</h1>
<p style="text-indent: 2em; margin-top: 30px; text-align: center">
    系统将在 <span id="time">5</span> 秒钟后自动跳转至新网址，如果未能跳转，<a href="/tologin" title="点击访问">马上跳转</a>。</p>
</body>
<script>
    delayURL();
    function delayURL() {
        var delay = document.getElementById("time").innerHTML;
        var t = setTimeout("delayURL()", 1000);
        if (delay > 0) {
            delay--;
            document.getElementById("time").innerHTML = delay;
        } else {
            clearTimeout(t);
            window.location.href = "/login";
        }
    }
</script>
</html>